body{
    margin: 0;
    padding: 0;
}
.montserrat-normal {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
    
  }
  .fs-13{
    font-size: 13px;
  }
  .montserrat-ligth {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  
  .fontgreen{
    color: #00A87F;
  }
  .ban-sec{

  }
  .banner-img{
    background: url("/image\ 3.png");
    background-size: cover;
    position: relative;
    z-index: 0;
  }
  .banner-heading{
    position: absolute;
    z-index: 1;
    margin-top: -580px;
    

  }
  .banner-para{
    position: relative;
    z-index: 1;
    margin-top: -10px;
    

  }
 
  .fs-50{
    font-size: 50px;
  }
 .fs-10{
    font-size: 10px;
  }

  @media (max-width: 900px){
    .banner-heading{
        position: absolute;
        z-index: 1;
        margin-top: -480px;
        bottom: 510px;
        
        
    
      }
      .fs-50{
        font-size: 40px;

      }
      .banner-para{
        position: relative;
        z-index: 1;
        bottom: 0;
        /* bottom: 0px; */
        margin-top: 150px;
        
    
      }

  }
  @media (max-width: 1200px){
    .banner-heading{
        position: absolute;
        z-index: 1;
        margin-top: -480px;
        bottom: 510px;
        
        
    
      }
      .fs-50{
        font-size: 40px;

      }
      .banner-para{
        position: relative;
        z-index: 1;
        bottom: 280px;
        /* margin-top: -10px; */
        
    
      }

  }
  @media (max-width: 700px){
    .banner-heading{
        position: absolute;
        z-index: 1;
        margin-top: -480px;
        bottom: 610px;
        
        
    
      }
      .fs-50{
        font-size: 30px;

      }
      .banner-para{
        position: relative;
        z-index: 1;
        bottom: 150px;
        /* margin-top: -10px; */
        
    
      }

  }
  @media (max-width: 300px){
    .banner-heading{
        position: absolute;
        z-index: 1;
        /* margin-top: -480px; */
        bottom: 750px;
        left: 18px;
        
        
    
      }
      .fs-50{
        font-size: 15px;

      }
      .banner-para{
        position: relative;
        z-index: 1;
        bottom: 0;
        /* margin-top: -10px; */
        
    
      }

  }